.footer
	display block
	padding 16px 16px 8px
	line-height 1.2



	& hr
		height 0
		color #50c
		border-bottom none



	&__content
		display flex
		align-items center
		padding 6px 0



	&__image
		width 65px
		height 65px



	&__text
		flex-grow 1
		padding-left 16px
		font-size 10px



	&__copyright
		color #333
		font-size 13px
		text-decoration none



	&__metrika-image
		+below(size-s)
			display none
