.social
	display flex
	align-items center
	flex-direction column
	background #343434



	&__list
		width 100%
		padding 6px 0
		border-bottom 1px solid #383838



	&__item
		color #ffffff
		font-size 19px
		font-weight 600
		text-align center



	&__link
		height 42px
		color #ffffff
		font-size 18px
		font-weight 300
		line-height 42px
		text-align center
		text-decoration none

		&_social
			display flex
			align-items center
			flex-direction row
			height 60px
			justify-content center


	&__icon
		width 42px
		height 42px
		margin-right 4px
		fill #ffffff
