.seek-bar-volume
	display block
	height 16px
	cursor pointer



	&__box
		position relative
		top 6px
		height 3px
		background rgba(255, 255, 255, .2)
		transition all .1s ease-out



	&__bg
		position absolute
		top 0
		left 0
		height 100%
		background rgba(255, 255, 255, 1)



	&__seeker
		position absolute
		top -4px
		right -5px
		width 11px
		height 11px
		background-color #ffffff
		border-radius 50%
		transition all .2s ease
