.nav
	display flex
	flex-direction row


	&__list
		display flex
		align-items flex-start
		flex-grow 1
		flex-direction row
		margin 0
		padding 0
		list-style none
		justify-content stretch



	&__item
		flex-grow 1
		flex-shrink 1
		flex-basis 0
		margin 1px
		list-style none
		transition opacity .2s

		&:hover
			opacity .7



	&__link
		display block
		height 100%
		color #fff
		font-size 16px
		line-height 22px
		text-align center
		text-decoration none
		background transparent
		transition all .3s ease
